.st-emotion-cache-1629p8f h1,
.st-emotion-cache-1629p8f h2,
.st-emotion-cache-1629p8f h3,
.st-emotion-cache-1629p8f h4,
.st-emotion-cache-1629p8f h5,
.st-emotion-cache-1629p8f h6,
.st-emotion-cache-1629p8f span {
  background-color: crimson;
}

.st-emotion-cache-18ni7ap {
  background-color: gainsboro;
}

.st-emotion-cache-uf99v8 {
  background-color: black;
}

.st-emotion-cache-ue6h4q {
  background-color: crimson;
}

.st-emotion-cache-1wmy9hl {
  background-color: crimson;
  padding: 20px 0;
}
